@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@model List<Client>

<div>
    <h2>Liste des Clients</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>CIN</th>
                <th>Age</th>
                <th>Email</th>
                <th>Password (haché) </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Nom</td>
                    <td>@obj.Prenom</td>
                    <td>@obj.CIN</td>
                    <td>@obj.Age</td>
                    <td>@obj.Email</td>
                    <td>@obj.PasswordHash</td>
                    <td>
                        <a asp-controller="Client" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Modifier</a>
                        <a asp-controller="Client" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Client" asp-action="Create" class="btn btn-success">Créer un nouveau client</a>
</div>
