@model List<Vol>

<div>
    <h2>Liste des Vols</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Depart</th>
                <th>DateArrivee</th>
                <th>Prix</th>
                <th>NombrePlacesMax</th>
                <th>PlacesDisponibles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Destination</td>
                    <td>@obj.Depart</td>
                    <td>@obj.DateArrivee</td>
                    <td>@obj.Prix MAD</td>
                    <td>@obj.NombrePlacesMax</td>
                    <td>@obj.PlacesDisponibles</td>
                    <td>
                        <a asp-controller="Vol" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Modifier le vol</a>
                        <a asp-controller="Vol" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Supprimer le vol</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Vol" asp-action="Create" class="btn btn-success">Créer un nouveau vol</a>
</div>

