@model IEnumerable<Reservation.Models.Vol>

@{
    ViewBag.Title = "Liste des Vols";
}

<h2>Liste des Vols</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<table class="table">
    <tr>
        <th>Numéro Vol</th>
        <th>Destination</th>
        <th>Date</th>
        <th></th>
    </tr>

    @foreach (var vol in Model)
    {
        <tr>
            <td>@vol.Id</td>
            <td>@vol.Destination</td>
            <td>@vol.Depart</td>
            <td>@vol.DateArrivee.ToShortDateString()</td>
            <td>
                @Html.ActionLink("Réserver", "Reserver", "Reservations", new { volId = vol.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>
